<% extends ./base.html %>

<% subskin cometscripts %>
<script type="text/javascript" src="/static/org/cometd.js"></script>
<script type="text/javascript" src="/static/org/cometd/AckExtension.js"></script>
<script type="text/javascript" src="/static/org/cometd/ReloadExtension.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.json-2.2.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.cometd.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.cometd-reload.js"></script>